# * Settings marked with * are advanced settings that won't appear in the Streamlit page and can only be modified manually in config.py
# recommend to set in streamlit page
# -------------------
# version: "3.0.0"
# author: "Huanshere"
# -------------------

## ======================== Basic Settings ======================== ##

display_language: "zh-CN"

# API settings
api:
  key: 'YOUR_API_KEY_HERE'
  base_url: 'http://localhost:8088/v1'
  model: 'YOUR_DEFAULT_MODEL'

# API settings for different functions
api_split:
  key: 'YOUR_API_KEY_HERE'
  base_url: 'http://localhost:8088/v1'
  model: 'YOUR_DEFAULT_MODEL'

api_summary:
  key: 'YOUR_API_KEY_HERE'
  base_url: 'http://localhost:8088/v1'
  model: 'YOUR_DEFAULT_MODEL'

api_translate:
  key: 'YOUR_API_KEY_HERE'
  base_url: 'http://localhost:8088/v1'
  model: 'YOUR_DEFAULT_MODEL'

api_reflection:
  key: 'YOUR_API_KEY_HERE'
  base_url: 'http://localhost:8088/v1'
  model: 'YOUR_DEFAULT_MODEL'

# *Number of LLM multi-threaded accesses, set to 1 if using local LLM
max_workers: 16

# Language settings, written into the prompt, can be described in natural language
target_language: '简体中文'


asr:
  # ASR (Automatic Speech Recognition) specified recognition language ISO 639-1
  language: 'en'
  detected_language: 'en'
  # ASR running mode ["gemini", "whisperX"]. Specifies where to run
  runtime: 'whisperX'
  # WhisperX specific settings
  model: 'Purfview/faster-distil-whisper-large-v3.5'
  batch_size: 8
  use_hotwords: false
  hotwords: ''


## ======================== Advanced Settings ======================== ##

subtitle:
  # *Maximum length of each subtitle line in characters
  max_length: 75
  # *Translated subtitles are slightly larger than source subtitles, affecting the reference length for subtitle splitting
  target_multiplier: 1.2

# *Summary length, set low to 2k if using local LLM
summary_length: 8000

# *Maximum number of words for the first rough cut, below 18 will cut too finely affecting translation, above 22 is too long and will make subsequent subtitle splitting difficult to align
max_split_length: 25

# *Whether to reflect the translation result in the original text
reflect_translate: true

# *Whether to pause after extracting professional terms and before translation, allowing users to manually adjust the terminology table output\log\terminology.json
pause_before_translate: false






## ======================== Additional settings ======================== ##

# Whisper model directory
model_dir: './_model_cache'

# Supported upload video formats
allowed_video_formats:
- 'mp4'
- 'mov'
- 'avi'
- 'mkv'
- 'flv'
- 'wmv'
- 'webm'

allowed_audio_formats:
- 'wav'
- 'mp3'
- 'flac'
- 'm4a'

# Languages that use space as separator
language_split_with_space:
- 'en'
- 'es'
- 'fr'
- 'de'
- 'it'
- 'ru'

# Languages that do not use space as separator
language_split_without_space:
- 'zh'
- 'ja'
